# Binaries
*.exe
*.dll
*.so
*.dylib

# Data
*.db
*.sqlite
agent_data/
server/storage.db

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Credentials
server/credentials.json

# Binaries
server/gendrive-server
agent/agent

# Database Journal
*.db-shm
*.db-wal
